@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Mobile First Styles */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
}

nav a {
    padding: 20px;
    color: black;
    display: block;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 10px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
}

.hide {
    display: none;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

footer {
    text-align: center;
}

/* Tablet View - 700px and up */
@media screen and (min-width: 700px) {
    .menu-btn {
        display: none;
    }
    
    nav {
        display: flex;
        justify-content: center;
    }
    
    nav.hide {
        display: flex;
    }
    
    nav a {
        border-top: none;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    section:last-child {
        grid-column: 1 / -1;
    }
}

/* Desktop View - 1000px and up */
@media screen and (min-width: 1000px) {
    nav a {
        display: inline-block;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    section:last-child {
        grid-column: auto;
    }
}